@import './base.css';

#app {
  max-width: none; /* 去除最大宽度限制 */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    /* 修改为顶部对齐 */
    place-items: start; 
  }

  #app {
    display: grid;
    grid-template-columns: 1fr; /* 调整为单栏布局 */
    padding: 0;
  }
}
